<% provide(:title, "Anmelden") %>
<h1>Anmelden</h1>

<div class="row">
	<div class="form-horizontal" role="form">
		<%= form_tag anmelden_path, class: 'input-group', method: :post do %>
			<%= email_field_tag :email, nil, placeholder: "Email", maxlength: 100, class: "form-control input-lg" %>
			<%= password_field_tag :password, nil, placeholder: "Passwort", maxlength: 100, class: "form-control input-lg" %>
			<%= submit_tag "Anmelden", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<%= link_to "Neuer Benutzer? Hier registrieren!", registrieren_path %>