<% provide(:title, @user.nicname) %>
<h1><%= @user.nicname %></h1>
TODO: Sicherstellen, dass nur oeffentliche Informationen fuer alle verfuegbar sind 
<div class="row">
	<div class="col-6 col-sm-4 col-lg-4 user-aside">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.nicname %>
			</h1>
		</section>
	</div>
</div>

<% if helper_current_user.role == 'admin' %>
<h2>Admin Dashboard</h2>
<%= link_to "Benutzer", users_path %>
<%= link_to "Pflegeberater", '#' %>
<%= link_to "Pfelgeanbieter", '#' %>
<% end %>