<% provide(:title, @anbieter.name) %>
<div class="page-header" style="text-align: center;">
	<h1><%= @anbieter.name %></h1>
</div>

<div class="row">
	<div class="col-md-3" id="sidebar">
		<div class="well sidebar-nav">
			<div class="page-header" style="text: center;">
				<h3>Kontakt</h3>
			</div>
			<%= @anbieter.street %>
			<%= @anbieter.street_number %><br>
			<%= @anbieter.zipcode.code %><br>
			<%= @anbieter.city %><br>

			Telefon: <br>
			Website: <br>

			<div class="btn-toolbar">
  				<div class="btn-group">...</div>
  				<div class="btn-group">...</div>
  				<div class="btn-group">...</div>
			</div>

    	</div><!--/.well -->
	</div><!--/span-->

<div class="col-md-9 pull-right">
	<div class="container">
		<h2>Kommentare</h2>
	</div>
	<div class="container">
		<%= will_paginate @comments, renderer: BootstrapPagination::Rails, bootstrap: 3  unless @comments.nil? %>

<% if helper_signed_in? %>
	<!-- Button trigger modal -->
 	<a data-toggle="modal" href="#comment" class="btn btn-primary btn-lg">Diesen Anbieter kommentieren</a>

	<!-- Modal -->
	<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="commentLabel" aria-hidden="true">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          		<h4 class="modal-title">Kommentar zu <%= @anbieter.name %></h4>
	        	</div>
	        	<div class="modal-body">
	          		<%= render 'comments/new.html.erb' %>
	        	</div>
	      	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<% else %>
	<a data-toggle="modal" href="<%= anmelden_path %>" class="btn btn-primary btn-lg">Diesen Anbieter kommentieren</a>
<% end %>
		<ul class="midi-list">
			<% if !@comments.empty? %>
		  		<% @comments.each do |comment| %>
		    	<%= render "listed_comment", comment: comment %>
		  		<% end %>
		  	<% else %>
		  		Bisher keine Kommentare
		  	<% end %>
		</ul>

		<%= will_paginate @comments, renderer: BootstrapPagination::Rails, bootstrap: 3 unless @comments.nil? %>
		</div>
	</div>
</div>
</div><!--/row-->